
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*css reset end*/
.blue {
	color: blue;
}
.clear {
	width: 0;
	height: 0;
	clear:both;
}
body * {
	box-sizing: border-box;
	//border: 0.5px solid red;
	text-decoration: none;	
}
.wrapper {
	margin: 0 auto;
	max-width: 940px;
	text-align: center;
}
.color-bar {

}

header {
	width: 100%;
	height: 120px;
}
	.logo {
		float: left;
	}
	.btn-socialmedia {
		margin-left:700px;	
	}
		.btn-socialmedia img {
			margin:5px;
		}
	
	#menu {
		display: none;
	}
	nav li {
		display:inline-block;
		font-size: 1.4em;
		padding: 0.6em 0.6em;
	}



.content {
	width: 100%;
	height: 800px;
}
	.slider {
		
	}
	.slider-photo {
		width: 70%;
		float: left;
	}
		.slider-photo img {
			width:90%
		}
	.slider-text {
		width: 30%;
		float: left;
		text-align:left;
		background: white;
	}
		.slider-text h1 {
			font-size: 3em;
			margin-left: 0.4em;
		}
		.slider-text p {
			font-size: 1.2em;
			line-height: 1.2em;
			padding: 1em;
			margin-left: 0.4em;
		}
		.btn-readmore {
			margin-left:5em;
		}
	.intro-text {
		width: 100%;
		padding:0.8em 1em;
		margin:1em 0;
		line-height: 1.4em;
		background: white;
	}
	.evenets-services-box {
		width: 100%;
		height: 500px;
	}
	h3 {
		margin-left:0.3em;
		text-align: left;
		font-size: 2.2em;
	}
	.events {
		width: 50%;
		height: 350px;
		float: left;
		background: white;
	}

		.event-box img{
			float:left;
			margin-left:1.5em;

		}


	.services{
		width: 50%;
		height: 350px;
		float: left;
		background: white;
	}
		.services-list {
			margin-left:1em;
		}
		.services-list li{
			display: block;
			text-align: left;
			line-height: 2em;
		}

		.box-searching {
			text-align: left;
			margin-left:0.4em;
		}
			.box-searching input {
				margin-left:1.4em;
				margin-top:1em;
				margin-bottom: 1em;	
			}


footer {
	width: 100%;
	margin: 0.8em 0;
}


@media screen and (max-width: 767px) {
	.wrapper * {
		text-align: center;
	}
	.btn-socialmedia {
		display: none;
	}
	nav {
		margin-top: 30px;
	}
	nav li {
		display:inline;
		margin:20px;
	}
	.slider-photo {
		width: 100%;
	}
	.slider-text {
		width: 100%;
		text-align:center;
		clear:both;
		margin:1em 0 ;
	}
	.btn-readmore{
		display: none;
	}
	.events{
		width: 100%;
	}
	.services {
		width: 100%;
	}
	.services-list li{
		display: inline-block;
		padding:10px;
	}
}
@media screen and (max-width: 413px) {
	.wrapper * {
		text-align: center;
	}
	.btn-socialmedia {
		display: none;
	}
	nav #menu{
		display: block;
		position: right-left;
		width: 30px;
		height: 30px;
	}
	nav li {
		display: none;
	}
	.slider-photo img{
		width: 100%;
	}
	.slider-text {
		width: 100%;
		text-align:center;
		clear:both;
		margin:1em 0 ;
	}
	.btn-readmore{
		display: none;
	}
	.events{
		width: 100%;
	}
	.event-box *{
		display: block;
	}
	.services {
		width: 100%;
	}
	.services-list li{
		display: inline-block;
		padding:10px;
	}
}