
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/**/

.socialmedia {
	float:right;
	margin-left: 10px;
	margin-right: 5px;
}
a {
	text-decoration: none;
}
.nav{
	float: right;
	margin-top:60px;
	margin-right: -90px;
}
.nav li{
	display: inline;
	text-decoration: none;
	font-size: 0.9em;
	margin-left: 9px;
	margin-right: 9px;
}
h1 {
	font-size: 42px;
	color :purple;
	font-family: Impact;
}
h3 {
	font-size: 28px;
	font-family: serif;
}
h4{
	font-size: 18px;

}
.blue {
	color: #0066ff;
}
.wrap {
	width: 940px;
	margin:0 auto;
	font-family: serif;
}

.header {
	font-size:20px;
	color:gray;
	padding:10px;
	padding-bottom: 20px;
}
.content {
	height: 520px;
	width: 940px;

}

.slider-left {
	float:left;
	margin-bottom: 20px;

}
.slider-right {
	background-color: gray;
	width: 220px; 
	height: 337px;
	float:right;
	padding:40px;
	margin-bottom: 20px;
}
.slider-right p {
	line-height: 20px;
	margin-bottom:20px;
	margin-top: 20px;
}
.readmore {
	clear: both;
	width: 200px;
	height: 150px;
	color: #fff;
	background: #000;
	font-size: 20px;
	padding: 10px;
}
.intro {
	clear:both;
	width: 900px;
	height: 50px;
	background: white;
	text-align: center;
	padding: 20px;
	margin-bottom:20px;
}
.events {
	margin-bottom: 20px;
}
.events-right {
	margin:0 auto;
	background: white;
	float:right;
	width: 410px;
	height: 330px;
	padding:30px;
}
.events-right ul li {
	margin: 10px;
}
.events-right input {
	margin-top: 20px;
}
.events-left {
	background: white;
	float:left;
	width: 410px;
	height: 330px;
	padding:30px;
}
.events-left-up {
	margin:20px 0 40px 0;
}
.events-left-up img {
	float: left;
	margin-right: 20px;
}
.events-left-up h4 p {
	float: right;
	padding-left: 10px;
}

.events-left-down {
	clear: both;
	padding-top: 20px;
}
.events-left-down img {
	float: left;
	margin-right: 20px;
}
.events-left-down h4 p {
	float: right;
}
.footer {
	clear:both;
	width: 940px;
	height: 50px;
	line-height:20px;
	text-align: center;
	padding-top: 70px;
}

